/*Global general */
* {
    margin: 0;
    padding: 0;
}

/*Global body*/
body {
    background-color: rgb(15,15,15);
}

/* navbar */
nav {
    background-color: black;
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

.menu-bar {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    margin: 0 0 0 1em;
  }

.menu-buttons li {
    list-style: none;
    display: inline-block;
  }
 
.menu-buttons li a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 1em 1.5em 1em 1.5em;
    border-left: 1px solid rgb(32, 32, 32);
  }
 
.menu-buttons li a:hover {
    background-color: rgb(47, 139, 170);
  }

  .menu-buttons li a.current
{
  background-color: rgb(30, 38, 41);
}
 
  nav label {
    color: white;
    font-size: 1.2em;
    cursor: pointer;
 
    /* Make Label Not Selectable */
    -webkit-user-select: none; /* Safari */       
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
 
    display: none;
  }
 
  #toggle {
    display: none;
  }

@media (max-width: 50em) {
    .menu-buttons {
      margin: 0;
      display: none;
    }

    .menu-bar {
      line-height: 2.35em;
    }

    .menu-buttons li {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      
   .menu-buttons li a {
    border-top: 1px solid rgb(20, 20, 20);
    border-bottom: 1px solid rgb(20, 20, 20);
    padding: 1em;
  }

  /*display: unset; makes it inherit the value from its parent element. 
  In this case, it will no longer be hidden and gain values from nav.  
 */
  nav label {
    display: unset;
    float: right;
    margin: 0 0.5em 0 0;
  }
   nav {
     display: flex;
     flex-direction: column;
     height: auto;
     align-items: stretch;
   }

   /*~ : a sibling combinator so our menu buttons will be affected too*/
   #toggle:checked ~ .menu-buttons {
    display: unset;
  }
}


footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.foot button {
  color: white;
  background-color: black;
  font-size: 28px;
  margin: 10px 25px 5px 0em;
}

.foot button:hover {
  background-color: rgb(47, 139, 170);
}